<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>テスト！！！！！！！！！！！！！</h1>

    <% require 'pg' %>

    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>
  
    <% result = connection.exec("select*from crops where not give_for = '自家消費';")%>
    <% data = [] %>
    <% result.each do |record| %>
      <% data << "譲渡先 : #{record["give_for"]}" %>
    <% end %>  

    <form action="goya.cgi" method="POST">
     下記のボタンを押すと、譲渡先が自家表示じゃないgoyaの情報<br></br>
     <input type="text" name="goya" value="<%= data.join('') %>">
     <input type="submit" name="送信">
    </form>

   



    <% result = connection.exec("select*from crops where quality = false ;")%>
    <% data = [] %>
    <% result.each do |record| %>
      <% data << "品質の悪いゴーヤ : #{record["quality"]}#{record["length"]}#{record["weight"]}#{record["give_for"]}#{record["data"]}" %>
    <% end %>

    <form action="goya.cgi" method="POST">
      下記のボタンを押すと品質が悪いものが出力されます<br><br>
      <input type="text" name="goya" value="<%= data.join('') %>">
      <input type="submit" name="送信">     
    </form>
  </body>
</html>
